#pay .pay_home{
    max-width: 2560px;
    background-color: #030504;
    background: url(../img/weidian_bg1.jpg);
    margin-top: 0;
    margin:20 auto;
    background-position: center center;
    height: auto;
    width: 100%;
    background-size: cover;
    padding:60px 0 0 0;
    text-align: center;
}
strong{
    font-weight: 700;
    
}
#pay .pay_home_up h1{
    font-size: 3rem;
}